header {
    height: 60px;
    background-color: red;
    line-height: 60px;
    
}

#ti-logo, #logo {
    display: inline-block;  
    line-height: 50%;
    vertical-align: middle;
}

#logo {
    padding-left: 10px;
}

.container {
    padding: 20px;
    margin: 50px auto;
    background-color: blue;
    max-width: 1000px;
    border-radius: 15px;
}


